<!doctype html>
<html lang="en-us">
  <head>
    {| include ../src/layout/head_common.html |}
    <style>
      section > a {
          display: inline-block;
      }

      .spacer {
          width: 1.4rem;
          display: inline-block;
      }
    </style>
  </head>

  <body>
    <main style="padding: 1rem">
      {| include ../src/layout/navigation_header.html |}

      <h1>Code</h1>

      <section>
        {| include ../gen/code_page_links.html |}
      </section>
    </main>
  </body>
</html>
