<!doctype html>
<html lang="en-us">

  <head>
    {| include ../src/layout/head_common.html |}
    <title>Estudioso!</title>
    <style>
      {| include ../src/layout/raylib_app.css |}
    </style>
  </head>

  <body>
    {| include ../src/layout/game_header.html |}

    <div class="canvas-wrapper">
      <canvas id="canvas" oncontextmenu="event.preventDefault()" tabindex=-1></canvas>
    </div>

    <script type='text/javascript'>
      {| include ../src/layout/raylib_app.js |}
    </script>

    {{{ SCRIPT }}}
  </body>

</html>
