<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
  html {
      background-color: #fff5e6;
  }

  html,
  body {
      margin: 0;
      padding: 0;
  }

  * {
      color: #2d0f10;
      font-family: Verdana, Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  pre {
      font-family: "Courier New", monospace;
  }

  a,
  a:visited {
      color: #8d2e7b;
  }

  h1, h2, h3, h4, h5, h6 {
      margin: 1rem 0 0.2rem 0;
  }

  body {
      padding: 1rem;
  }

  header {
      height: 2.2rem;
      display: flex;
      align-items: center;
      padding: 0 1rem;
  }

  header h1, header h2, header h3, header h4, header h5, header h6 {
      margin: 0;
  }

  header a {
      margin-right: 1rem;
  }

  pre {
      margin: 1rem;
  }
</style>
