<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
  html {
      background-color: rgb(237, 247, 247);
  }

  html,
  body {
      margin: 0;
      padding: 0;
  }

  * {
      color: rgb(62, 55, 55);
      font-family: Verdana, Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  pre {
      font-family: "Courier New", monospace;
  }

  a {
      color: blue;
  }

  a:visited {
      color: purple;
  }

  h1,
  h2 {
      margin: 1rem 0 0.2rem 0;
  }

  body {
      padding: 1rem;
  }

  header {
      height: 2.2rem;
      display: flex;
      align-items: center;
      padding: 0 1rem;
  }

  pre {
      margin: 1rem;
  }
</style>
