<!doctype html>
<html lang="en-us">
  <head>
    {| include ../src/layout/head_common.html |}
  </head>

  <body>
    <div style="padding: 1rem"><!-- TODO: remove hard-coded style -->
      {| include ../src/layout/navigation_header.html |}

      <div style="padding-left: 1rem">
        <h2>Simulations</h2>
        <p>
          There are currently called "simulations." Some of them are meant to be games (scuba),
          while others are meant to be one-off experiments with visualization (l-system).

          Some of them are kind of a game, but also an exercise in feature-building (estudioso).
        </p>

        <div style="padding-left: 1rem">
          <a href="/estudioso.html">
            <h3>Estudioso</h3>
          </a>
          <p>
            "Estudioso" is an English-to-Spanish translation app that I use to practice learning Spanish phrases.
            Currently it offers fill-in-the-blank style prompts for testing on the gender of nouns and translation of basic sentences.
          </p>
        </div>

        <div style="padding-left: 1rem">
          <a href="/scuba.html">
            <h3>SCUBA</h3>
          </a>
          <p>
            This is the game that best fits the idea behind OK Arcade.
            It takes initial inspiration from Asteroids, at least with the player motion.
            If you touch the eel, you lose. If you reach the cage, you win! In the future, touching the cage will free the crabs, making you a hero to some.
          </p>
        </div>

        <div style="padding-left: 1rem">
          <a href="/l_system.html">
            <h3>L-Systems</h3>
          </a>
          <p>
            A graphical utility used to explore Lindenmeyer Systems and their many visual forms.
            This app is extremely early in development, so there isn't much to do at the moment.
            The goal is to allow the user to explore l-systems in two major ways: by interacting with UI that changes a single instance of an l-system, and choosing from a list of slight permutations from the current l-system.
          </p>
        </div>

        <a href="/code.html">
          <h2>Source Code</h2>
        </a>
        <p>
          The source code used to make this website can be found <a href="/code.html">here</a>.
        </p>

        <a href="/blog">
          <h2>Blog</h2>
        </a>
      </div>
    </div>
  </body>
</html>
