<!doctype html>
<html lang="en-us">
  <head>
    {| include ../src/layout/head_common.html |}
  </head>

  <body>
    <div style="padding: 1rem"><!-- TODO: remove hard-coded style -->
      {| include ../src/layout/navigation_header.html |}

      <h2>Simulations</h2>
      <a href="/l_system.html">L-Systems!</a>
      <a href="/scuba.html">SCUBA</a>

      <a href="/code.html">
        <h2>Source Code</h2>
      </a>
      <p>
        The source code used to make this website can be found <a href="/code.html">here</a>.
      </p>

      <a href="/blog">
        <h2>Blog</h2>
      </a>
    </div>
  </body>
</html>
